@import url('https://fonts.googleapis.com/css?family=Raleway:200');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

::selection {
  background: #80CBC4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #80CBC4; /* Gecko Browsers */
}

.container {
  position: relative;
}

.background-image {
  background-image: url('welcome-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  background-size: cover; /* version standardisée */
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  -moz-background-size: cover;  /* Mozilla */
  -o-background-size: cover;
  height: 100vh;
}

.content {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:1000px; /* Assign a value */
  height:300px; /* Assign a value */
  margin:auto;
  text-align: center;
  /*background-color: red;*/
}

.content > #content-title {
  font-family: Raleway, sans-serif;
  font-style: light;
  color: #455A64;
  font-size: 3em;
  /*opacity: 0;*/
  /*filter: alpha(opacity=0);*/
}

.content > #lookfor-btn {
  width: 400px;
  height: 100px;
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  padding: 0;
  border: none;
  background-color: #455A64;
  color: #ffff;
  cursor: pointer;
  outline: none;
  /*opacity: 0;*/
}

/*.content > #lookfor-btn:hover {
  background-color: #51636c;
  transform: scale(1.2);
}*/
